body {  
    padding: 0; /* Remove qualquer espaçamento interno do corpo da página. */
    margin: 0; /* Remove margens ao redor da página. */
    height: 100vh; /* Faz o corpo ocupar toda a altura da tela. */
    display: flex; /* Usa o modelo de layout flexbox para organizar os elementos. */
    align-items: center; /* Centraliza o conteúdo verticalmente no corpo da página. */
    justify-content: center; /* Centraliza o conteúdo horizontalmente no corpo da página. */
    background-color: #96acc2; /* Define uma cor de fundo azul claro para a página. */
}

.piano {  
    display: flex; /* Define o layout das teclas como um flexbox, garantindo que fiquem lado a lado. */
}

.key {  
    width: 50px; /* Define a largura das teclas do piano. */
    height: 150px; /* Define a altura das teclas do piano. */
    border: 1px solid black; /* Adiciona uma borda preta ao redor de cada tecla. */
    display: flex; /* Usa flexbox para alinhar o conteúdo dentro das teclas. */
    align-items: flex-end; /* Alinha o conteúdo na parte inferior das teclas. */
    justify-content: center; /* Centraliza o conteúdo horizontalmente dentro das teclas. */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre as teclas, indicando interatividade. */
    user-select: none; /* Impede que o usuário selecione o texto dentro das teclas. */
}

.white {  
    background-color: white; /* Define a cor de fundo das teclas brancas. */
}

.black {  
    background-color: black; /* Define a cor de fundo das teclas pretas. */
    width: 30px; /* Define uma largura menor para as teclas pretas em relação às teclas brancas. */
    height: 100px; /* Define uma altura menor para as teclas pretas. */
    margin-left: -15px; /* Move as teclas pretas levemente para a esquerda para posicioná-las corretamente sobre as teclas brancas. */
    margin-right: -15px; /* Move as teclas pretas levemente para a direita para posicioná-las corretamente sobre as teclas brancas. */
    z-index: 1; /* Garante que as teclas pretas fiquem sobre as teclas brancas. */
    position: relative; /* Define a posição relativa para permitir sobreposição controlada. */
    color: white; /* Define a cor do texto dentro das teclas pretas como branco para melhor visibilidade. */
}

.white:hover {  
    background: linear-gradient(to right, #6eadff, #69a8fa, #287eed); /* Adiciona um efeito de gradiente azul ao passar o mouse sobre as teclas brancas. */
}

.black:hover {  
    background: linear-gradient(to right, #acadad, #6d6d6e, #202120); /* Adiciona um efeito de gradiente cinza ao passar o mouse sobre as teclas pretas. */
}